<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SIGNALIS Community Artbook</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script>
        function showFullImage(el) {
            const fullSrc = el.getAttribute('data-full');
            document.getElementById('full-image').src = fullSrc;
            document.getElementById('image-viewer').style.display = 'flex';
        }

        function hideViewer() {
            document.getElementById('image-viewer').style.display = 'none';
            document.getElementById('full-image').src = '';
        }
    </script>

    <style>
        #image-viewer {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: zoom-out;
            z-index: 9999;
        }

        #image-viewer img {
            max-width: 90%;
            max-height: 90%;
            box-shadow: 0 0 20px #000;
        }

        body {
            font-family: 'Roboto Mono', monospace;
        }

        #planet-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #1A1A1A;
            z-index: 99999;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: top 1.5s ease-in-out;
        }

        #planet-canvas {
            max-width: 100vmin;
            max-height: 100vmin;
            aspect-ratio: 1 / 1;
        }
    </style>
</head>

<body>
    <div id="planet-screen">
        <canvas id="planet-canvas"></canvas>
    </div>
    <div id="boot-screen">
        <pre id="boot-text"></pre>
        <div id="boot-continue">Click anywhere to continue<span class="dot">.</span></div>
    </div>
    <section id="banner">
        <div class="banner-overlay">
            <h1>SIGNALIS COMMUNITY ARTBOOK</h1>
            <p>Non‐commercial fan project : Community-assembled art archive</p>
        </div>
    </section>
    <br />
    <section id="about">
        <div class="content-box">
            <h2>Stay in the Loop</h2>
            <p>Click below to leave your email for updates on this Community Art Book!</p>
            <br />
            <a href="https://forms.gle/Rq1QeCzAaE4NFrdp6" target="_blank">
                <button class="subscribe-btn">Sign up for updates</button>
            </a>
        </div>
    </section>
    <br />
    <section id="about">
        <div class="content-box">
            <h2>About The Game</h2>
            <p>
                SIGNALIS is a survival horror game by Rose‐Engine,
                blending classic mechanics with a distinct visual style and atmospheric storytelling.
            </p>
            <br />
            <p>
                More information can be found on the <a href="https://rose-engine.org/signalis/"
                    target="_blank">official website</a>
                The game was released on 27th October 2022. It is available on <span style="color:#FF0000;">PC, Xbox
                    One, PS4 and Nintendo Switch.</span>
                If you're a fan of old-school survival horror like Resident Evil or Silent Hill, or appreciate retro
                aesthetics and anime,
                this game is highly recommended.
            </p>
        </div>
        <br /><br />
        <div class="content-box">
            <h2>About This Project</h2>
                <div class="thumb-container">
                    <img src="{{ url_for('static', filename='images/cover1-min.png') }}"
                        alt="cover" class="thumb"
                        data-full="{{ url_for('static', filename='images/cover1.png') }}" />
                </div>
            <p>
                This is a community‐driven artbook celebrating the game SIGNALIS.
                It is a <span style="color:#FF0000;">non‐commercial fan project</span> and is not affilated with
                Rose-Engine.
                This artbook serves as a platform for artists to showcase their work inspired by SIGNALIS.
            </p>
            <br />
            <p>
                Each piece reflects a personal connection: <span style="color:#FF0000;">what the game meant to
                    us</span>, how we interpreted it, and how we chose to express that through art.

                The goal is more than an art collection. It's a memory archive:
                a collaborative expression of how SIGNALIS resonated with its community.

                Scroll down to see the samples of the book, and how you can contribute to this project!
            </p>
            <br />
            <p>
                I hope everyone who contributed to this project, as well as those who read it, will find something that
                resonates with them.
            </p>
        </div>
        <br /><br />
        <div class="content-box">
            <h2>About The Book</h2>
                <div class="thumb-container">
                    <img src="{{ url_for('static', filename='images/cover2-min.png') }}"
                        alt="cover" class="thumb"
                        data-full="{{ url_for('static', filename='images/cover2.png') }}" />
                </div>
            <h3>Why is this book special?</h3>
            <p>
                The book is designed to resemble an in-universe technical manual from the SIGNALIS world,
                inspired by the game’s UI and retro game manuals like Homeworld Technical Manual.
            </p>
            <br />
            <h3>What is in this book?</h3>
            <ul>
                <li>Their SIGNALIS fanart</li>
                <li>A stylized, monochrome profile (inspired by Bakemonogatari)</li>
                <li>A brief description of their piece and what it means to them</li>
            </ul>
            <br />
            <h3>Where can I get this book?</h3>
            <p>
                Once the book is completed, it will be available for <span style="color:#FF0000;">free</span> as a PDF.
                The book will also be published online across various platforms in digital format for free, likely on my
                social media.
            </p>
            <br />
            <p>
                <span style="color:#FF0000;">All collaborators will receive a free physical copy of the book.</span>
            </p>
            <br />
            <p>
                A small number of physical copies will be available for sales as well if I am able to secure a booth
                space at <span style="color:#FF0000;">C107 Winter Comiket 2025, Tokyo, Japan.</span>

                All proceeds from the sales will be used to cover printing costs for the book, transportation, booth
                space and other related costs are covered by me personally.

                However per rose-engine's policies , no online sales of the physical print will be made available, and
                the print will be a one-off print run.
            </p>
            <br />
            <br />

            <h3><span style="color:#0099CE;">Go Further to see how you can contribute~</span></h3>
        </div>
    </section>

    <section id="timeline">
        <div class="content-box">
            <h2>Project Timeline</h2>
            <p>
                Here's a rough schedule for the SIGNALIS Community Artbook project. Please note that dates may change
                slightly depending on printing, logistics, and event arrangements.
            </p>
            <br />
            <ul style="font-family: 'Roboto Mono', monospace; line-height: 1.8;">
                <li><strong>02/06/2025</strong> – Project Announcement</li>
                <li><strong>03/06/2025</strong> – <span style="color:#FF0000;">Physical print cut-off</span><br />
                    Artists who apply after this date will be included in the digital version only (subject to change
                    depending on print budget).</li>
                <li><strong>04/06/2025</strong> – Project website launched<br />
                    <a href="https://mikecraftz.github.io/signalis_community_artbook_site/" target="_blank">Visit
                        project site</a>
                </li>
                <li><strong>05/06/2025</strong> – “Signalis: Last Promise” physical print project announced</li>
                <li><strong>22/06/2025</strong> – Newsletter program launched</li>
                <li><strong>31/07/2025</strong> – <span style="color:#FF0000;">Application Deadline</span><br />
                    (This may be extended based on availability)</li>
                <li><strong>September 2025</strong> – Target production wrap-up</li>
                <li><strong>12/08/2025</strong> – C107 Winter Comiket application submitted</li>
                <li><strong>Mid-September 2025</strong> – Final polish and internal review</li>
                <li><strong>October 2025</strong> – Test print + digital book release</li>
                <li><strong>November 2025</strong> – Comiket booth lottery result announced<br />
                    If a booth is secured, small-batch printing will proceed</li>
                <li><strong>30–31/12/2025</strong> – C107 Winter Comiket<br />
                    Limited physical sales of the book and the “Last Promise” comic</li>
            </ul>
        </div>
    </section>

    <section id="submission">
        <div class="content-box">
            <h2>Submit Your Art</h2>
            <br />
            <h3>Deadline of application will be 30/7/2025. But you can apply first and submit your art later. Deadline
                would be extended if time is allowed.</h3>
            <br />
            <p><span style="color:#0099CE;">Effective on 03/06/2025 1800 JPT,
                    Due to overwhelming submissions, new accepted entries will appear in the digital version only.
                    Thank you for your understanding. This may subject to change base on printing costs and page.
                </span></p>
            <br />
            <h3>What is the art requirement?</h3>
            <br />
            <p>
            <ul>
                <li>Up to 5 artworks, maximum 4 pages per artist (including profile page)</li>
                <li><span style="color:#FF0000;">No unaltered in-game assets, official textures, models, marketing
                        materials, logos, or character sprites from SIGNALIS may be used.</span></li>
                <li>Please avoid using AI art as submission.</li>
                <li>Only <span style="color:#FF0000;">original fan artwork</span> created by the submitting artist may
                    be accepted.</li>
                <li>You will be credited and acknowledged as a <span style="color:#0099CE;">collaborator/team
                        member</span> of the project.</li>
                <li>Must be related to SIGNALIS in theme, characters, or style</li>
                <li>No explicit, offensive, or disrespectful material</li>
            </ul>
            </p>
            <br />
            <h3>What is the format?</h3>
            <br />

            <ul>
                <li>A4 size preferred</li>
                <li>300 dpi</li>
                <li>PNG format</li>
                <li>Title of your art in format of <span style="color:#0099CE;">"Title", "Month+Year of creation"</span>
                </li>
                <li>Short Description / Commentary. Talk about your inspiration, references, or the meaning behind the
                    piece. Or anything about the art pieces!</span></li>
                <li>I will do my best to include as much as possible. Please dm me if you have any doubts.</li>
            </ul>

            <br />
            <h3>Where can I submit and how does selection work?</h3>
            <br />
            <br />
            <p>
                If you are interested in contributing, please apply using the <a
                    href="https://forms.gle/h6QHLzRMbZCTyHkm7" target="_blank">application form</a>.
                <br />
                <br />
            <ul>
                <li>I will ask to get some sample of your art, and review your application.</li>
                <li>Selection is base on number of arts you submit, their sizes as well as generally speaking do they
                    match
                    the intention of the book.</li>
                <li>If you are selected, I will give you another private submission form to submit your final art.</li>
                <li>I will then make a quick sample of how will your art look like, you can request any changes to the
                    sample.</li>
            </ul>
            <br />
            </p>
        </div>
    </section>

    <section id="samples">
        <div class="content-box">
            <h2>Sample Book Pages</h2>
            <p>
                Below are sample pages from the artbook. These are not final and may change as we finalise the book.
                Click on any image to view it in full size.
            </p>
            <div class="grid-3x3">
                {% for i in range(1, 34) %}
                <div class="thumb-container">
                    <img src="{{ url_for('static', filename='images/sample' ~ i ~ '-min.png') }}"
                        alt="Sample page {{ i }}" class="thumb"
                        data-full="{{ url_for('static', filename='images/sample' ~ i ~ '.png') }}" />
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="credits">
        <div class="content-box">
            <h2>Credits & Thank You</h2>
            <p>
                A heartfelt thank you to everyone who contributed art, to Rose‐Engine for SIGNALIS, and to the community
                for your ongoing support.
            </p>
            <br />
            <h3>The following artists has contributed their work to this project. You name will be updated here once
                finished the sample of your submission:</h3>
                <div class="thumb-container">
                    <img src="{{ url_for('static', filename='images/sample25-min.png') }}"
                        alt="cover" class="thumb"
                        data-full="{{ url_for('static', filename='images/sample25.png') }}" />
                </div>
            <br /><br />
            <ul>
                <li><a href="https://www.instagram.com/ms_al_chemist" target="_blank">Morethancat & al_chemist</a></li>
                <li><a href="https://x.com/DaneCelestia" target="_blank">Dane Celestia</a></li>
                <li><a href="https://x.com/kleocchi" target="_blank">kleocchi</a></li>
                <li><a href="https://x.com/Jovianwishes" target="_blank">Jovian</a></li>
                <li><a href="https://x.com/armynblaster" target="_blank">Armyblaster</a></li>
                <li><a href="https://x.com/roguebananas1" target="_blank">Roguebananas1</a></li>
                <li><a href="https://www.instagram.com/lewdlepoodle69/" target="_blank">Lewdle Poodle</a></li>
                <li><a href="https://www.instagram.com/zabishiki/" target="_blank">Shiki</a></li>
                <li><a href="https://x.com/minuhoshimichi" target="_blank">°ミヌ°</a></li>
                <li><a href="https://x.com/Tastic_Name" target="_blank">Fantastic_Name/Arts</a></li>
                <li><a href="https://www.pixiv.net/en/users/13339506" target="_blank">rover_rabbit/Arts</a></li>
                <li><a href="https://x.com/ashe_eyepatch" target="_blank">AsheEyepatch/Arts</a></li>
                <li><a href="https://bsky.app/profile/scrypt-ravenzeys.bsky.social" target="_blank">Soot/Scrypt | ravenzeys</a></li>
                <li><a href="https://x.com/yinabyna" target="_blank">Yinabyna</a></li>
                <li><a href="https://bsky.app/profile/thalassoqwerty.bsky.social" target="_blank">ThalassoQwerty</a></li>
                <li><a href="https://www.instagram.com/ehrenschnitzel.sam/" target="_blank">Schnitzel</a></li>
                <li><a href="https://x.com/virtuware" target="_blank">virtuware</a></li>
                <li><a href="https://www.pixiv.net/users/16709095" target="_blank">Bistard</a></li>
                <li><a href="https://x.com/RcWaR1" target="_blank">RcWaR</a></li>
                <li><a href="https://x.com/DlCC2H" target="_blank">毒轮车车</a></li>
                <li><a href="https://www.instagram.com/captain_torres12/H" target="_blank">Captain Torres</a></li>
                <li><a href="https://x.com/namedr_" target="_blank">namedr_</a></li>
                <li><a href="https://x.com/Casual_Flash" target="_blank">Casual_Flash</a></li>
            </ul>
        </div>
        <br /><br />
        <div class="content-box">
            <h2>Disclaimer and Contacts</h2>
            <br />
            <h3>My Contacts, Feel free to contact me if you have any questions or want to know more about this project.
            </h3>
            <br />
            <p>
                <a href="https://www.instagram.com/amanetatec/" target="_blank">Instagram</a>
                <a href="https://x.com/amanetate10945" target="_blank">Twitter</a>
                <a href="http://ko-fi.com/amanettc" target="_blank">Ko-fi</a>
            </p>
            <br />
            <h3>Disclaimer</h3>
            <br />
            <br />
            <ul>
                <li>This artbook is for original fan art only. Submissions must not include any unaltered official
                    materials or in-game assets, including textures, sprites, logos, or promotional content from
                    SIGNALIS.</li>
                <li>All personal information collected will be used exclusively for this project and will be destroyed
                    after production concludes.</li>
                <li>This project is a non-commercial fan initiative and is not affiliated with Rose‐Engine or any
                    related entities.</li>
                <li>I (AmaneC) will not, in any circumstances, use any of the art in this book for AI training.</li>
                <li>All costs related to the project will be covered by me (AmaneC) personally. I will not reach out for
                    donation/crowdfund specifically for this project.</li>
                <li>Please let me know if someone contacted you about asking payment for this project.</li>
                <li>This is a one-time, small-batch project with no commercial intent. I do not authorise any
                    third-party sales or reprints, and the physical book will not be sold online elsewhere.</li>
            </ul>
        </div>
    </section>

    <div id="imageModal" class="modal">
        <span class="modal-close">&times;</span>
        <img class="modal-content" id="modalImage" />
        <div id="modalCaption"></div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <div id="image-viewer" style="display:none;" onclick="hideViewer()">
        <img id="full-image" src="" alt="Full view">
    </div>
    <script>
        const canvas = document.getElementById("planet-canvas");
        const ctx = canvas.getContext("2d");
        function resizeCanvas() {
            const size = Math.min(window.innerWidth, window.innerHeight);
            canvas.width = size;
            canvas.height = size;
        }
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        function drawSystem() {
            resizeCanvas();
            const cx = canvas.width / 2;
            const cy = canvas.height / 2;
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            ctx.fillStyle = "black";
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            ctx.strokeStyle = "#777";
            for (let x = 0; x < canvas.width; x += 40) {
                for (let y = 0; y < canvas.height; y += 40) {
                    ctx.beginPath();
                    ctx.moveTo(x - 3, y);
                    ctx.lineTo(x + 3, y);
                    ctx.moveTo(x, y - 3);
                    ctx.lineTo(x, y + 3);
                    ctx.stroke();
                }
            }

            ctx.strokeStyle = "#FFF";
            ctx.fillStyle = "#FFF";
            ctx.lineWidth = 1;
            ctx.textAlign = "left";
            ctx.font = "12px Noto Serif JP Black";

            const orbits = [60, 100, 140, , 160, 180];
            const labels = ["STERNENKARTE"];

            orbits.forEach((r, i) => {
                ctx.beginPath();
                ctx.arc(cx, cy, r, 0, Math.PI * 2);
                ctx.stroke();
            });

            ctx.beginPath();
            ctx.arc(cx, cy, 6, 0, Math.PI * 2);
            ctx.fill();
            ctx.fillStyle = "#D64C2B";
            ctx.fillText("ORBITALE VERTEIDIGUNGSLINIE", cx + 100, cy + 10);
            ctx.fillStyle = "white";
            ctx.fillText("FLOTTENANKERPLATZ", cx - 160, cy - 25);
            ctx.fillText("艦隊錨地", cx - 160, cy - 40);

            ctx.beginPath();
            ctx.moveTo(cx, cy);
            ctx.arc(cx, cy, 220, -Math.PI / 3, Math.PI / 6, false);
            ctx.lineTo(cx, cy);
            ctx.stroke();
            ctx.fillText("ERWARTETE AKTIVE ZONE DER IMPERIALEN MARINE", cx + 90, cy - 200);
            ctx.fillText("帝國海軍活動區域", cx + 90, cy - 185);

            ctx.beginPath();
            ctx.moveTo(cx, cy);
            ctx.arc(cx, cy, 260, 0, Math.PI / 2, false);
            ctx.lineTo(cx, cy);
            ctx.stroke();
            ctx.fillText("PROJEKT PENROSE – ERSTES ERKUNDUNGSGEBIET", cx + 180, cy + 80);
            ctx.fillText("潘諾斯計劃初步勘探區", cx + 180, cy + 95);
            const planets = [
                { name: "BUYAN", angle: 0.5, orbit: 60, color: "purple" },
                { name: "KITEZH", angle: 1.2, orbit: 100, color: "#D64C2B" },
                { name: "VINETA", angle: 2.3, orbit: 140, color: "#0099CE" },
                { name: "ROTFORNT", angle: 3.4, orbit: 180, color: "red" },
                { name: "HEIMAT", angle: 4.5, orbit: 160, color: "#D3E62C" },
                { name: "LENG", angle: 1.4, orbit: 260, color: "white" },
            ];
            planets.forEach(p => {
                const x = cx + Math.cos(p.angle) * p.orbit;
                const y = cy + Math.sin(p.angle) * p.orbit;

                ctx.beginPath();
                ctx.fillStyle = p.color;
                ctx.arc(x, y, 4, 0, Math.PI * 2);
                ctx.fill();

                ctx.fillStyle = "white";
                ctx.font = "12px Noto Serif JP Black";
                ctx.textAlign = "center";
                ctx.fillText(p.name, x, y - 10);
            });;

            ctx.font = "24px Noto Serif JP Black";
            ctx.fillText("EXTRA SOLAR EXPLORATION PROGRAM. P-12-54/AC STERNENKARTE", 450, 30);
            ctx.fillText("潘諾斯計劃 / PENROSE-512 星圖", 198, 60);

            ctx.strokeStyle = "#D64C2B";
            ctx.lineWidth = 4;
            ctx.beginPath();
            ctx.moveTo(40, canvas.height - 40);
            ctx.lineTo(200, canvas.height - 40);
            ctx.stroke();

            ctx.lineWidth = 1;
            ctx.fillStyle = "white";
            ctx.font = "14px Noto Serif JP Black";
            ctx.fillText("P-12-54/AC", 250, canvas.height - 35);

            const labelX = canvas.width - 200;
            const baseY = canvas.height - 80;

            ctx.font = "24px Noto Serif JP Black";
            ctx.fillText("VOLKSMARINE", labelX, baseY + 24);
            ctx.fillText("AEON", labelX, baseY + 52);
        }


        function showStarchart() {
            return new Promise(resolve => {
                drawSystem();
                const screen = document.getElementById("planet-screen");
                screen.style.top = "0";

                setTimeout(() => {
                    screen.style.transition = "top 5s ease-in-out";
                    screen.style.top = "-100vh";
                    setTimeout(resolve, 5000);
                }, 3000);
            });
        }
    </script>
    <script>
        const bootLines = [
            "EUSAN-VERBINDUNG WIRD HERGESTELLT",
            "KOMMUNIKATION: VERBINDUNG ZUM KNOTENPUNKT ELSTER-04",
            "AUTHORIZIERUNGSCODE: SERA_512 :: ÜBERPRÜFUNG LÄUFT…",
            "SERIAL-NR: 512-EINHEIT",
            "⋯",
            "⋯",
            "ÜBERPRÜFT: BENUTZERKLASSE – ÜBERWACHER",
            "ZUGANG ERTEILT: [EUSAN ARCHIV-TERMINAL]",
            "MODULE LADEN: STATIONS-SPEICHER",
            "NEURALES INTERFACE INITIALISIEREN...",
            "⋯",
            "SPEICHERFEHLER FESTGESTELLT – [09123.MEM]",
            "REKONSTRUKTION WIRD VERSUCHT…",
            "REKONSTRUKTION ABGESCHLOSSEN – TEILDATEN NUR",
            "ELSTER-EINHEIT PRÄSENZ BESTÄTIGT",
            "⋯",
            "KALTSTART ABGESCHLOSSEN",
            "AUSWEIS NR: GU512-09123",
            "<< ANMELDUNG ERFOLGREICH >>",
            "⋯",
            "\\\\ TERMINAL-STARTSEQUENZ //",
            "EUSAN-ARCHIV-SCHNITTSTELLE AKTIVIERT",
            ">> BEREIT"
        ];

        async function startBootSequence() {
            const bootScreen = document.getElementById("boot-screen");
            const bootText = document.getElementById("boot-text");
            const bootContinue = document.getElementById("boot-continue");

            await showStarchart();

            bootScreen.style.display = "block";
            let lineIndex = 0;
            const delay = 80;

            function printNextLine() {
                if (lineIndex < bootLines.length) {
                    bootText.textContent += bootLines[lineIndex] + "\n";
                    lineIndex++;
                    setTimeout(printNextLine, delay);
                } else {
                    bootText.textContent += "\n";
                    bootContinue.style.display = "block";
                }
            }

            printNextLine();
        }

        window.addEventListener("load", () => {
            resizeCanvas();
            startBootSequence();
        });

        document.getElementById("boot-screen").addEventListener("click", () => {
            document.getElementById("boot-screen").style.display = "none";
            document.body.style.overflow = "auto";
        });

        window.addEventListener("resize", resizeCanvas);
    </script>
</body>

</html>